body{
    font-family: "Comic Sans MS";
    padding: 300px;
}

h1{
  font-size: 30px;
}

form{
  font-size: 25px;
}

#button{
  font-size: 20px;
text-align: center;
}

@media screen and (min-width: 500px) {
  body{
    width:200px;
  }
  sidebar{
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  body{
    width:500px;
  }
  sidebar{
    display: block;
  }
}