body{
    font-family: "Comic Sans MS";
    padding: 200px;
    background: url('../Pic/bckgrnd\ 1.png') 100% no-repeat;
}

h1{
	font-size: 30px;
}

.konten{
	display: flex;
	position: relative;
	padding-bottom: 10%;
    left: 0;
	top: 0;
	padding-left: 70px;
	
}

.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url('../Pic/bckgrnd\ 2.png') 100% no-repeat;
	padding: 10px;
	width:25vw;
	box-shadow: 0 0 15px 5px grey;
	color: white;
	text-align: center;
}

.modal-button{
    margin-top: 2px;
    background: #5f9ea0;
    padding: 1em 2em;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 25px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .modal-button:hover{
    background: #3c6465;
  }

.konten .form{
	display: flex;
	padding-top: 0px;
	padding-left: 0%;
}

input[type=text], input[type=email], input[type=password], select, textarea {
	width: 200px;
	height: 20%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical

}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 3px;
}

input[type=submit]:hover {
	background-color: #45a049;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 20px;
}

button:hover {
	background-color: #45a049;
}

#popup-peringatan {
	padding: 20px;
	background-color: #f44336;
	color: white;
	display: none;
  }
  
.close{
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.close:hover {
	color: black;
}

@media only screen and (max-width: 1256px){
	.konten .form{
		display: flex;
		padding-top: 0px;
		margin-right: 80%;
	}
}
