.Row
{
	display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 40px; /*Optional*/
}
.Column
{
    display: table-cell;
}

.center{
	text-align: center;
	color: rgb(4, 4, 15);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 35px;
    padding-bottom: 15px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.konten{
	position: relative;
    float: left;
    padding: 93px 3px;
	padding-bottom: 10%;
}

.konten .sidebar{
	display: flex;
}

.konten .sidebar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.konten .sidebar li {
	padding: 8px;
	margin-bottom: 7px;
	background-color: #33b5e5;
	color: #ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}

.konten .sidebar li:hover {
	background-color: #0099cc;
}

.konten .tulisan{
	display: flex;
	flex-direction: column;
	padding-left: 5%;
}

@media only screen and (max-width: 734px){
	.konten .sidebar{
		width: 100%;
		display: flex;
		justify-content: space-between;

	}

	.konten .tulisan{
		float: right;
		padding-left: 5%;
	}
} 