
.konten{
	display: flex;
	position: relative;
	float: left;
	padding: 10% 30%;
	padding-bottom: -15%;
}

.profil{
	padding-left: 40px;
	margin-top: 30px;
	font-family: verdana;
	font-size:20px;
	text-align: justify;
}

.konten .foto{
	/* display: flex; */
	padding-left: 20%;
	text-align: center;
}

.konten  img{
	height:200px;
	width:200px;
}

.konten .form{
	display: flex;
	padding-top: 0px;
	padding-left: 40%;
}

.active{
	color: black;
	border-bottom: 7px solid black;
}

#gmbr0{
    margin-left: 23px;
    padding-right: 793px;
}

p {
    text-align: justify;
    font-family: "Comic Sans MS";
}

.column {
    float: left;
    width: 45%;
    padding-top: 39px;
    padding-left: 15px;
}

.baris:after {
    content: "";
    display: table;
    clear: both;
}

hr{
    color: black;
}

#gmbr5{
    padding-top: 42px;
}

.kolom-4,
.kolom-8{
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}


.kolom-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.kolom-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.baris {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.kotakProfile{
	min-height:20px;
	padding:19px;
	margin-bottom:20px;
	background-color:#f5f5f5;
	border:1px solid #e3e3e3;
	border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);
}


.deskripsi{
	float: right;
}


input[type=text], input[type=password], select, textarea {
	width: 500px;
	height: 18%;
	padding: 2px; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical 
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

a[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 7px 7px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

a[type=submit]:hover {
	background-color: #45a049;
}

@media only screen and (max-width: 1006px){
	input[type=text], input[type=password], select, textarea {
		width: 400px;
		height: 18%;
		padding: 2px; /* Some padding */
		border: 1px solid #ccc; /* Gray border */
		border-radius: 4px; /* Rounded borders */
		box-sizing: border-box; /* Make sure that padding and width stays in place */
		margin-top: 6px; /* Add a top margin */
		margin-bottom: 16px; /* Bottom margin */
		resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
	}
}
