body {
    margin: 0;
	padding: 0;
	background-color: LightGray;
	font-family: verdana;
	font-size:20px;
}

.konten{
	display: flex;
	position: relative;
	float: left;
	padding: 93px 3px;
	padding-bottom: 15%;
}

.konten .foto{
	/* display: flex; */
	padding-left: 20%;
}

.konten .foto img{
	height:200px;
	width:200px;
}

.konten .form{
	display: flex;
	padding-top: 0px;
	padding-left: 40%;
}


input[type=text], input[type=password], select, textarea {
	width: 500px;
	height: 18%;
	padding: 2px; /* Some padding */
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.active{
	color: black;
	border-bottom: 7px solid black;
}

#gmbr0{
    margin-left: 23px;
    padding-right: 793px;
}

p {
    text-align: justify;
    font-family: "Comic Sans MS";
}

.column {
    float: left;
    width: 45%;
    padding-top: 39px;
    padding-left: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

hr{
    color: black;
}

#gmbr5{
    padding-top: 42px;
}

@media only screen and (max-width: 1006px){
	input[type=text], input[type=password], select, textarea {
		width: 400px;
		height: 18%;
		padding: 2px; /* Some padding */
		border: 1px solid #ccc; /* Gray border */
		border-radius: 4px; /* Rounded borders */
		box-sizing: border-box; /* Make sure that padding and width stays in place */
		margin-top: 6px; /* Add a top margin */
		margin-bottom: 16px; /* Bottom margin */
		resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
	}
}
