html, body{
	height: 100%;
}

/* body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: verdana;
	font-size:20px;
	padding-bottom:10px;
	height: 100%;
} */

body{
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.container .header{
	position: relative;
	text-align: center;
	background: rgba(75, 71, 71, 0.1);
	font-family: Arial;
	border-bottom: 2px solid rgba(0,0,0,0.7);
}

.header{
	position: relative;
	text-align: center;
	/* background: rgba(75, 71, 71, 0.1); */
	font-family: Arial;
	border-bottom: 2px solid rgba(0,0,0,0.7);
}	

.container{
	display: inline-block;
	width: 1367px;
	min-height:100%;
	position:relative; 
	
}

.navbar{
	display: flex;
}

.menu{
	flex: 3;
	display: flex;
}

/* dropdown */
.dropbtn {
	display: inline-block;
	color: #818181;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li.dropdown1 {
	display: inline-block;
  }
  
  .dropdown1-content {
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 160px;
	z-index: 1;
  }
  
  .dropdown1-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown1-content {background-color: #333;}
  
  .dropdown1:hover .dropdown1-content {
	display: block;
	color: #f1f1f1;
  }

.container .logo{
		float:left;
		width:12%; /* The width is 20%, by default */
		flex: 3;      
}

.logo {    
	align-items: flex-start;
}

.logo a{
	display: block;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 9px;
	padding-left:9px;
	color: #fff;
	background:#333; 
	font-weight: bold;
}

.container .logo a img{
	height:90px;
	width:118px;
}

.container .main {
	padding-top: 20px;
	width: 75%; /* The width is 60%, by default */
	background-color: #333;
}

.logo a img{
	height:90px;
	width:118px;
	margin-left: -200px;
}

/* .main {
	padding-top: 20px;
	width: 75%;
	background-color: #333;
} */

.nav{
	flex: 3
}
    
.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
	
.nav ul li {
	float: right;
	display: inline-block;
	list-style: none;
}

.nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
}

.nav ul li a:hover{
	color: rgba(0,0,0,0.7);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
}
.nav a#toggle{
	float: right;
	padding: 14px 16px;
	display: none;
}

/* content */
.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}
    
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
    
/* bawah */
.footer {
	padding-left: 10px;
	padding-right: 20px;
	line-height: 50px;
	background: #333;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	bottom: 0px;
	position: relative;

}

.footer .tulisanKiri{
	margin-left: 5%;
	font-size: 25px;
}

.footer .tulisanKanan{
	float: right;
	margin-top: 5px;
	margin-right: 5%;
}

.footer .tulisanKanan img{
	width: 25px;
}

.active{
	color: black;
	border-bottom: 5px solid white;
}

.banner{
	display: flex;
	flex-wrap:nowrap;
	flex-direction: row-reverse;
	justify-content: space-between;
	position: relative;
	overflow: hidden;
	background-size: cover; 
}

.banner img{
	height: 388px;
	width: 100%;
}

p {
	text-align: justify;
	font-family: "Comic Sans MS";
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

hr{
  	color: black;
}

.readmore {
	float: left;
	/* margin: 30px 0 0 50px; */
	padding: 10px 30px 11px 30px;
	border: 2px solid black;
	background: black;
	transition: background .1s linear;
	-webkit-transition: background .1s linear;
	-moz-transition: background .1s linear;
	-o-transition: background .1s linear;
	text-decoration: none;
	color: #fff;
	font-family: "lato-regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	border-radius: 10px;
	margin-left: 110px;
	margin-bottom: 10px;
}

.bantuan {
	text-align: center;
}

.Row {
	display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
	border-spacing: 40px; /*Optional*/
}

.berita {
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 50px;

}
.berita button {
	margin-left: 200px;
}

.berita img {
	margin-left: 267px;
}

.center{
	text-align: center;
	color: rgb(4, 4, 15);
}

.center {
	text-align: center;
}
  
.pagination {
	display: inline-block;
	padding-bottom: 50px;
}
  
.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border: 1px solid #ddd;
}

.pagination a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.pagination a:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* popup */
.popup {
	display: none; 
	position: fixed; 
	z-index: 1; 
	margin-left: 250px;
	left:0;
	top: 0;
	width: 60%; 
	height: 100%; 
	overflow: disabled; 
}

.isiPopup {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

.popup-header {
	padding: 2px 16px;
	background-color: #333;
	color: white;
}

.popup-body {
	padding: 2px 16px;
}

.popup-footer {
	padding: 2px 16px;
	background-color: #333;
	color: white;
}

  /* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

.close,
.close1 {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus,
.close1:hover,
.close1:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* form */
@media only screen and (max-width: 1367px){
	.container{
		width: 100%;
	}

	.nav ul{
		display: block;
	}
}

@media only screen and (max-width: 986px){

	.navbar{
    	display: block;
	}
	
	.nav{
    	flex: 1;
	}

	.nav a#toggle{
		display: block;
		text-decoration: none;
		background: #333;
		color: #fff;
		font-weight: bold;
		padding-top: 2px;
		padding-bottom: 18px;
	}

	.nav ul{
		display: none;
		margin: 10px 0;
		padding: 0;
	}

	.nav ul li{
    	display: block;
	}

	.nav ul li a{
		display: block;
		padding: 7px 20px;
		margin: 0;
	}

	.login{
    	flex: 1;
	}
	
}

@media only screen and (max-width: 990px){
	.banner img{
		height: 5%;
		width: 100%;
	}
	
}

@media only screen and (max-width: 348px){
	.logo a img{
        height:70px;
        width:70px;
    }

    .footer .tulisanKiri{
        margin-left: 5%;
        font-size: 15px;
    }
}

@media only screen and (max-width: 1006px){
	.popup {
		display: none; 
		position: fixed; 
		z-index: 1; 
		margin-left: 200px;
		left:0;
		top: 0;
		width: 60%; 
		height: 100%; 
		overflow: disabled; 
	}
}

@media only screen and (max-width:716px){
	.popup {
		display: none; 
		position: fixed; 
		z-index: 1; 
		margin-left: 150px;
		left:0;
		top: 0;
		width: 60%; 
		height: 100%; 
		overflow: disabled; 
	}
}


